h2 {
  margin: 0;
}

.hiragino_w6 {
  font-family: "Hiragino Mincho ProN W6", "ヒラギノ明朝 ProN W6", serif;
}

/*  recCon  */
.recCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobCateWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recConTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recConBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recCopy {
  font-size: 3rem;
}

.copy_bg {
  background-color: #D0D6DD;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec_ja {
  font-size: 2rem;
}

.rec_en {
  font-size: 1rem;
}

.jobName {
  font-size: 3rem;
}

.td_left {
  background-color: rgb( 181, 177, 177, 0.5);
  padding: 9.5px 11.8px;
  margin-top: 1rem;
}

.td_right {
  padding-left: 2rem;
}



/*  recInfo  */

.recInfo {
  height: 31rem;
  width: 100%;
  padding: 3.2rem 0;
  background-image: url("../img/img/work_14.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#rec_wrapper {
  width: 100%;
  z-index: 2;
  color: white;
}

.conBottom p {
  letter-spacing: 0.05rem;
}

.background_black_rec {
  position: absolute;
  top: 0;
  left: 0;
  height: 31rem;
  width: 100%;
  padding: 3.2rem 0;
  z-index: 1;
  background-color: rgb( 0, 0, 0, 0.5);
}

.rec_btn {
  margin: 3.2rem 0rem;
}

.recInfo a.btn-flat:before {
  background: white !important;
}

.conTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  span margin  */
.mgn_05 {
  margin-left: 0.5rem;
}

.mgn_2 {
  margin-left: 2rem;
}

.mgn_6 {
  margin-left: 6rem;
}
.mn_bottom_05 {
  margin-bottom: 0.5rem;
}

.mgn_32 {
  margin: 3.2rem 0;
}

.mgn_bottom_2 {
  margin-bottom: 2rem;
}

/*  btn  */
.recInfo a.btn-flat {
  color: white;
  border: white solid 1px;
  background:rgb( 0, 0, 0, 0);
}
.recInfo a.btn-flat:hover {
  color: #D0D6DD;
}

@media (min-width: 768px) {
  .recCopy {
    font-size: 5rem;
  }
  .jobCateWrapper {
    font-size: 2rem;
  }
  .rec_ja {
    font-size: 3rem;
  }
  .background_black_rec {
    height: 34.5rem;
  }
  #rec_wrapper {
    font-size: 1.2rem;
  }
  .recInfo {
    height: 34.5rem;
  }
  .recConTop img {
    width: 35rem;
    height: 20rem;
  }
}

@media (min-width: 1024px) {
  .recCopy {
    font-size: 7rem;
  }
}
