/*  footer  */
.footer_wrapper ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 50px);
  background-color: white;
  z-index: -1;
  transform: translate(0, -50px);
}

.footer_wrapper {
  display: grid;
  grid-template-rows: 6rem 47rem 3rem;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
  position: relative;
}

footer td {
  vertical-align: bottom;
}

footer .logo_name {
  font-size: 2rem;
}

.footer_logo {
  padding-left: 1rem;
  transform: translateY(2px);
}

.footer_p {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  opacity: 0.6;
  justify-items: center;
  align-items: center;
  margin-left: 2rem;
  transform: translateY(3.5px);
}

.footer_logo_margin {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.footer_nav {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 7rem;
}

.footer_item {
  margin-bottom: 3.4rem;
}

.footer_item {
  font-size: 2.5rem;
}

.footer_btn {
  margin-bottom: 7rem;
}

.copyItem {
  margin-left: 0.6rem;
}

footer > p {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer_wrapper {
    display: grid;
    grid-template-rows: 8rem 10rem 8rem;
    grid-template-columns: 50% 50%;
  }
  .footer_nav {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem;
    margin-right: 3rem;
    margin-top: 15rem;
  }
  .footer_item {
    font-size: 1.5rem;
  }
  footer a.btn-flat span {
    font-size: 1.5rem;
  }
  .footer_btn {
    width: 20rem;
    grid-column: 3/4;
  }
  footer a.btn-flat {
    padding: 1.2rem 3rem;
    width: 20rem;
  }
  .footer_logo_margin {
    margin: 0 !important;
  }
}

@media (min-width: 940px) {
  .footer_item {
    font-size: 2rem;
  }
  .footer_nav {
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    grid-template-rows: 8rem 8rem;
    margin-right: 5rem;
  }
}
